body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f8;
}

header {
    background: #0077b6;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 50px;
    text-align: center;
    background: #caf0f8;
}

.hero button {
    padding: 10px 20px;
    background: #0077b6;
    color: white;
    border: none;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

.about, .contact, .map {
    padding: 30px;
    background: white;
    margin: 20px;
}

.gallery {
    padding: 30px;
}

.gallery-grid {
    display: flex;
    gap: 20px;
}

.gallery-grid img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 10px;
}
